/*Nicolaas Ivan Pretorius u19021306*/
body {
    background: #707070 url("../Pictures/Bg's/indexBG.jpg") no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
}

.heading{
    color: #f0f0f0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vmax;
}

#c {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: blue;
    z-index: 1001;
}

#a {
    position: absolute;
    background-color: red;
}

#cover {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 1000;
}