/*Nicolaas Ivan Pretorius u19021306*/
.nBar {
    background-color: #808080;
    overflow: hidden;
    font-family: 'Open Sans';
    z-index: 2000;
}

.nBar a {
    float: left;
    padding: 8px;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 20px;
    z-index: 2000;
}

.nBar a:hover {
    background-color: #8C75D1;
}

.nBar a.active {
    background-color: indigo;
}