*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body {
    background: #333333;
    font-family: 'Lato', Arial, sans-serif;
    color: #000000;
}

.search {
    float: left;
    width: 100%;
    padding: 0 0;
}

input[type=number] {
    height: 5%;
    width: 2%;
    border: 2px solid orange;
    background: none;
    color: white;
    border-radius: 4px;
    outline: none;
    margin: 0;
}

input[type=button] {
    height: 5%;
    width: 3%;
    border: 2px solid orange;
    background: none;
    color: white;
    border-radius: 4px;
    outline: none;
    margin: 0;
}


label {
    height: 5%;
    color: white;
    border: 2px solid orange;
    border-right: none;
    margin: 0px;
    margin-top: 5px;
}

select {
    background: none;
    height: 5%;
    border: 2px solid orange;
    border-left: none;
    color: white;
    outline: none;
    margin: 0;
}

#lScreen{
    width: 100%;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

option {
    color: #000000;
}

#c {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    background-color: blue;
}

#a {
    position: absolute;
    background-color: red;
}

input[type=text] {
    width: 83%;
    height: 5%;
    border: none;
    background: none;
    border-bottom: 2px solid orange;
    color: white;
    outline: none;
    margin: 0;
}

#prv {
    position: fixed;
    bottom: 0;
    left: 0;
}

#nxt {
    position: fixed;
    bottom: 0;
    right: 0;
}

input[type=text]:focus {
    border-bottom: 2px solid lightgreen;
}

.next {
    float: right;
}

.noRes {
    color: white;
}

.container {
    height: 100%;
    text-align: center;
}

.wrapper {
    margin: 0 auto 100px auto;
    max-width: 960px;
}

.stage {
    list-style: none;
    padding: 0;
}

.scene {
    width: 260px;
    height: 400px;
    margin: 30px;
    float: left;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
}

.song {
    width: 260px;
    height: 400px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translateZ(-130px);
    -moz-transform: translateZ(-130px);
    transform: translateZ(-130px);
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    transition: transform 350ms;
}

.song:hover {
    -webkit-transform: rotateY(-90deg) translateZ(20px);
    -moz-transform: rotateY(-90deg) translateZ(20px);
    transform: rotateY(-90deg) translateZ(20px);
}

.song .poster,
.song .info {
    position: absolute;
    width: 260px;
    height: 400px;
    background-color: #FFFFFF;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.song .poster  {
    -webkit-transform: translateZ(130px);
    -moz-transform: translateZ(130px);
    transform: translateZ(130px);
    background-size: cover;
    background-repeat: no-repeat;
}

.song .info {
    -webkit-transform: rotateY(90deg) translateZ(130px);
    -moz-transform: rotateY(90deg) translateZ(130px);
    transform: rotateY(90deg) translateZ(130px);
    border: 1px solid #B8B5B5;
    font-size: 0.75em;
}

.csstransforms3d .song::after {
    content: '';
    width: 260px;
    height: 260px;
    position: absolute;
    bottom: 0;
    box-shadow: 0 30px 50px rgba(0,0,0,0.3);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(90deg) translateY(130px);
    -moz-transform: rotateX(90deg) translateY(130px);
    transform: rotateX(90deg) translateY(130px);
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .song:hover::after {
    box-shadow: 20px -5px 50px rgba(0,0,0,0.3);
}

.info header {
    color: #C0C0C0;
    padding: 7px 10px;
    font-weight: bold;
    height: 195px;
    background-size: contain;
    background-repeat: no-repeat;
    text-shadow: 0px 1px 1px rgba(0,0,0,1);
}

.info header h1 {
    margin: 0 0 2px;
    font-size: 1.4em;
}

.info header .rating {
    border: 1px solid #FFF;
    padding: 0px 3px;
}

.info p {
    padding: 1.2em 1.4em;
    margin: 2px 0 0;
    font-weight: 700;
    color: #000000;
    line-height: 1.4em;
    border-top: 10px solid #555;
}

.song .poster,
.song .info,
.song .info header {
    -webkit-transition: box-shadow 350ms;
    -moz-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
}

.csstransforms3d .song .poster {
    box-shadow: inset 0px 0px 40px rgba(255,255,255,0);
}

.csstransforms3d .song:hover .poster {
    box-shadow: inset 300px 0px 40px rgba(255,255,255,0.8);
}

.csstransforms3d .song .info,
.csstransforms3d .song .info header {
    box-shadow: inset -300px 0px 40px rgba(0,0,0,0.5);
}

.csstransforms3d .song:hover .info,
.csstransforms3d .song:hover .info header {
    box-shadow: inset 0px 0px 40px rgba(0,0,0,0);
}

.no-csstransforms3d .song .poster,
.no-csstransforms3d .song .info {
    position: relative;
}

@media screen and (max-width: 60.75em){
    .scene {
        float: none;
        margin: 30px auto 60px;
    }
}
